.heading {
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0.25em;
    text-align: center;
}

.rushContainer {
    background-image: url(../../rushAnimated.png);
    width: calc(100vw);
    height: calc(70vh);
    background-size: 2000vw 70vh;
    background-position: 0 50%;
    color: white;
    font-size: 300%;
    font-family: sans-serif;
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
    padding: 1em;
    text-shadow: 1px 1px 2px black; 
}
